@import "gruvbox";

.z-code {
  color: $fg;
  background-color: $bg;
}

.z-markup.z-bold {
  font-weight: bold;
}

.z-markup.z-italic {
  font-style: italic;
}

.z-invalid {
  color: $fg;
  background-color: darken(#932b1e, 20%);
}

.z-comment {
  color: $grey1;
  font-style: italic;
}

.z-constant.z-other,
.z-variable,
.z-variable.z-language,
.z-meta.z-function-call,
.z-text .z-source,
.z-string.z-unquoted.z-heredoc,
.z-source .z-source,
.z-string.z-unquoted.z-label.z-js {
  color: $fg;
}

.z-punctuation.z-definition.z-tag,
.z-meta.z-diff,
.z-meta.z-diff.z-header,
.z-constant.z-other.z-color.z-rgb-value {
  color: $blue;
}

.z-punctuation.z-definition.z-entity,
.z-constant,
.z-constant.z-numeric.z-css,
.z-keyword.z-other.z-unit.z-css,
.z-orgmode.z-break {
  color: $purple;
}

.z-constant.z-character.z-escape,
.z-string,
.z-string.z-unquoted.z-heredoc .z-string,
.z-string.z-regexp .z-constant.z-character.z-escape,
.z-string.z-quoted .z-source,
.z-string,
.z-meta.z-selector.z-css,
.z-entity.z-other.z-attribute-name.z-id,
.z-meta.z-selector.z-css .z-entity.z-other.z-attribute-name.z-class,
.z-punctuation.z-definition.z-entity.z-css,
.z-constant.z-other.z-table-name.z-sql,
.z-constant.z-other.z-database-name.z-sql,
.z-orgmode.z-page {
  color: $green;
}

.z-entity,
.z-support.z-class,
.z-support.z-type.z-property-name.z-css,
.z-meta.z-tag,
.z-meta.z-tag .z-entity,
.z-markup.z-inserted,
.z-entity.z-name.z-type.z-class.z-php,
.z-storage.z-type.z-dired.z-item.z-directory,
.z-dired.z-item.z-directory,
.z-orgmode.z-headline {
  color: $aqua;
}

.z-keyword.z-operator.z-comparison,
.z-keyword.z-operator,
.z-keyword.z-operator.z-symbolic,
.z-keyword.z-operator.z-string,
.z-keyword.z-operator.z-assignment,
.z-keyword.z-operator.z-arithmetic,
.z-keyword.z-operator.z-class,
.z-keyword.z-operator.z-key,
.z-keyword.z-operator.z-logical,
.z-meta.z-property-value .z-support.z-constant.z-named-color.z-css {
  color: $orange;
}

.z-keyword,
.z-keyword.z-operator.z-new,
.z-keyword.z-other,
.z-keyword.z-control,
.z-storage,
.z-meta.z-selector.z-css .z-entity.z-name.z-tag,
.z-markup.z-deleted,
.z-orgmode.z-tags {
  color: $red;
}

.z-support,
.z-support.z-constant,
.z-meta.z-preprocessor.z-at-rule .z-keyword.z-control.z-at-rule,
.z-meta.z-property-value .z-constant,
.z-meta.z-constructor.z-argument.z-css,
.z-markup.z-changed,
.z-variable.z-language.z-js,
.z-orgmode.z-tack,
.z-orgmode.z-follow_up,
.z-orgmode.z-checkbox,
.z-orgmode.z-checkbox.z-summary {
  color: $yellow;
}

.z-markup.z-heading {
  color: $aqua;
  font-weight: bold;
}

.z-entity.z-name.z-tag {
  color: $aqua;
  font-weight: bold;
}

.z-keyword.z-other.z-phpdoc {
  color: $grey1;
}

.z-orgmode.z-link {
  color: $yellow;
  font-style: underline;
}
