// IE3 limitations: http://endoframe.com/css/ie3.html
//
// - no IDs, no multi-class selectors
// - no em, no relative line-height (margins/paddings are pretty much ignored)

.float-right {
  float: right;
}

.center {
  text-align: center;
}

::selection {
  background: $selection;
  color: $foreground;
}

body {
  background: $background;
  color: $foreground;

  margin: 16px;

  @include scrollbar-style();

  font-size: 140%;
  // keep this last for old IE
  font-family: $font;
}

p {
  margin: 1em 0;
}

a {
  color: $accent;

  &:visited {
    color: $accent3;
  }
}

h1 {
  margin: 0;
  font-size: 220%;
  padding: 0.2em 0 0.5em 0;

  a,
  a:visited {
    text-decoration: none;
    color: $foreground;
  }
}

pre {
  @include scrollbar-style();

  // ie6, force size to make overflow scroll work
  width: 100%;
  overflow-x: auto;
  padding: 1em 0.5em;
  border: 1px solid $background-highlight2;
}

code {
  color: $fg;
  overflow-wrap: break-word;
}

blockquote {
  display: block;
  border-left: 4px solid $blockquote;
  margin-left: 1em;
  padding-left: 1em;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border-color: $background-highlight;
}

.all {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  margin-bottom: 2em;
}

.top-nav {
  margin-top: 1.5em;
}

.post-date {
  margin-bottom: 0;
  font-size: 80%;
}

.title {
  font-weight: normal;
  font-size: 250%;
  margin: 0;
}

.anchor {
  font-size: 80%;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
