@import "theme";

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background: map-get($map: $dark, $key: "background");
}
::-webkit-scrollbar-thumb {
  background: map-get($map: $dark, $key: "background-highlight");
}

@mixin scrollbar-style() {
  scrollbar-color: map-get($map: $dark, $key: "background-highlight")
    map-get($map: $dark, $key: "background");
}
