@import "theme";

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background: $background-highlight;
}
::-webkit-scrollbar-thumb {
  background: $background-highlight2;
}

@mixin scrollbar-style() {
  scrollbar-color: $background-highlight2 $background-highlight;
}
