@import "gruvbox";

$font: "Noto Sans", "Segoe UI", sans-serif;
$font-monospace: "Cascadia Mono", "Consolas", monospace, monospace;

$background: $bg1;
$background-highlight: $bg;
$background-highlight2: $bg5;

$foreground: #ded9c9;

$accent: $blue; // links and stuff
$accent2: $yellow; // code tags
$accent3: $purple; // used links
$blockquote: $dimOrange;

$selection: $bg8;
