$font: "Noto Sans", sans-serif;
$monospace: "Source Code Pro", "Consolas", monospace, monospace;

$darker: (
  background: #21252b,
  background-highlight: #234,
  foreground: #ccc,
  foreground-highlight: #fff,
);

$dark: (
  background: #2b303b,
  background-highlight: #345,
  foreground: #bbb,
  foreground-highlight: #eee,
);

$accent: #6bf;
$accent2: #db9d63;
$accent3: #c7d;
$blockquote: #37a;