@import "normalize";
@import "theme";
@import "scrollbar";

::selection {
  background: #05c;
  color: #eee;
}

body {
  font: 150%/1.3 $font;
  // -webkit-text-size-adjust: 100%;
  background: map-get($map: $darker, $key: "background");
  color: map-get($map: $darker, $key: "foreground");

  margin: 0 16px;

  @include scrollbar-style();
}

#all {
  max-width: 900px;
  margin: .5em auto;
}

p {
  // text-align: justify;
  margin: 1em 0;
}

.part {
  padding: .5em 1em;
}

#main {
  background-color: map-get($map: $dark, $key: "background");
  color: map-get($map: $dark, $key: "foreground");
}

a {
  color: $accent;

  &:visited {
    color: $accent3;
  }
}

.a-link {
  font-size: 50%;
  visibility: hidden;
  text-decoration: none;

  :hover > & {
    visibility: visible;
  }
}

h1 {
  margin: 0;
  font-size: 240%;
  padding: .2em 0;

  a,
  a:visited {
    text-decoration: none;
    color: map-get($map: $dark, $key: "foreground");
  }
}

#title {
  font-weight: normal;
}

pre {
  @include scrollbar-style();

  overflow: auto;
  font-size: 80%;
  padding: .5em;
}

code {
  color: $accent2;
}

ul {
  list-style: circle;
}

.float-right {
  float: right;
  margin-left: .5em;
}

blockquote {
  border-left: 6px solid $blockquote;
  margin: 0;
  padding: 1px .5em;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}