<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="utf-8" />
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="Dennis Duda">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#292828" />

  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
<div id="all">
  <div class="part">
    <header>
      <a href="/blog" class="float-right top-nav">Posts</a>
      <h1 id="title"><a href="/" title="seri.tools"><strong>seri</strong>.tools</a></h1>
    </header>
  </div>
  <div class="part">
    <main>
    {% block content %}
      {% set section = get_section(path="blog/_index.md") %}
      {% if section.pages.0 %}
        {% set page = section.pages.0 %}
        <div class="article">
          <p class="post-date">Posted: {{ page.date }}</p>
          <h1><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
          {{ page.content | safe }}
        </div>
      {% endif %}
    {% endblock content %}
    </main>
  </div>
  <div class="part">
    <footer>
      Dennis Duda |
      <a href="https://github.com/seritools">github/seritools</a> |
      <a href="https://twitter.com/seritools">twitter/@seritools</a><br>
      Discord: seri#6041 |
      <a href="https://www.linkedin.com/in/seri-tools/">LinkedIn</a><br>
      <a href="/legal">Legals/Impressum</a>
    </footer>
  </div>
</div>
</body>
</html>
