<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="Dennis Duda">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#292828" />
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  {% endblock %}
</head>

<body bgcolor="#333333" fgcolor="#ded9c9">
<div class="all">
  <div class="part">
    <header>
      <div class="float-right top-nav">
        <a href="{{ get_url(path="blog") }}">Posts</a> | <a href="{{ get_url(path="rss.xml") }}">RSS</a>
      </div>
      <h1 class="title"><a href="{{ get_url(path="") }}" title="seri.tools"><strong>seri</strong>.tools</a></h1>
    </header>
  </div>
  <div class="part">
    <main>
    {% block content %}
      {% set section = get_section(path="blog/_index.md") %}
      {% if section.pages.0 %}
        {% set page = section.pages.0 %}
        <div class="article">
          <p class="post-date">Posted: {{ page.date }}</p>
          <h1><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
          {{ page.content | safe }}
        </div>
      {% endif %}
    {% endblock content %}
    </main>
  </div>
  <div class="part">
    <footer>
      Dennis Duda |
      <a href="https://github.com/seritools">github/seritools</a><br>
      <a href="https://twitter.com/seritools">twitter/@seritools</a> |
      <a href="https://hachyderm.io/@seri">hachyderm.io/@seri</a><br>
      Discord: seri#6041 |
      <a href="https://www.linkedin.com/in/seritools/">LinkedIn</a><br>
      <a href="/legal">Legal</a>
    </footer>
  </div>
</div>
</body>
</html>
